@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --break-sm: 640px;
  --break-md: 768px;
  --break-lg: 1024px;
  --break-xl: 1280px;
  --break-2xl: 1536px;
  --primary-red: #F1665A;
  --primary-red-30: #f5948b; /* 30% lighter */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-family: var(--font-urbanist);
}

button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}