#skillsBackground {
    position: relative;
    max-width: 90vw;
    width: 346px;
    height: 312px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

@media (min-width: 768px) {
    #skillsBackground {
        max-width: 40vw;
    }
}

@media (min-width: 1024px) {
    #skillsBackground {
        width: 498px;
        height: 442px;
        row-gap: 32px;
        column-gap: 32px;
    }
}

#skillsBackground::before {
    content          : '';       /* Set empty content                      */
    position         : absolute; /* Position the pseudo-element absolutely */
    width            : 76.3%;
    height           : 90.5%;      /* Set height and width as desired        */
    left             : 11.85%;
    top              : 4.75%;       /* Set the offset as desired              */
    z-index          : -1;       /* Send element to back                   */
    background-color : rgba(235, 202, 154, 0.20);  
    border-radius: 60px;
    border: 2px solid #EBCA9A;
  }

.skillCard {
    font-size: 10px;
    font-weight: 600;
    font-family: var(--font-rubik);
    border-radius: 10px;
    background: #FFF;
    box-shadow: -6px 6px 25px 0px rgba(255, 89, 90, 0.08);
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillCard svg {
    color: #F1665A;
    font-size: 27px;
}

.skillCard:last-child:nth-child(3n - 2) {
    grid-column-end: 3;
}

.skillCard:nth-child(1),
.skillCard:nth-child(3),
.skillCard:nth-child(4),
.skillCard:nth-child(6),
.skillCard:nth-child(7),
.skillCard:nth-child(9) {
    margin-top: 45%;
    margin-bottom: -45%;
}